div
{
  background-color:rgba(0,0,0,0);
}
p
{
  
}
i
{
  
}
b
{
  
}
del
{
  
}
unl
{
  text-decoration:underline;
}
ovl
{
  text-decoration:overline;
}
obl
{
  font-style:oblique;
}
l
{
  display:inline-block;
}