div
{
  background:transparent;
}
in{
 background-color:rgba(243,241,228,0.2);
 border-radius:0px;
 border-style:inset;
 border-width:2px;
 box-shadow:0px 0px 10px black inset;
 color:#F3F1E4;
 display:block;
 margin:3px;
 padding:3px;
}
in:hover
{
  
}
out{
 background-color:rgba(51,51,51,0.2);
 border-radius:0px;
 border-style:outset;
 border-width:2px;
 box-shadow:0px 0px 10px black;
 color:#F3F1E4;
 display:block;
 margin:3px;
 padding:3px;
 transition:background-color 0.5s;
}
out:hover{
  background-color:rgba(110,110,110,0.2);
  color:#F3F1E4;
}
header{
 background-color:#F3F1E4;
 color:#777777;
 display:block;
 font-size:;
 height:4vh;
 line-height:4vh;
 text-align:center;
}
option
{
 background-color:transparent;
 color:#777777;
 display:inline-block;
 font-size:;
 height:4vh;
 line-height:4vh;
 text-align:center;
}