*
{
  color:#F3F1E4;
  font-family:"text";
  font-size:1vh;
}
html
{
  background-image:url("../image/background.jpg");
  background-attachment:fixed;
  background-repeat:round;
  margin:0px;
  padding:0px;
}
body
{
 margin:0px;
 padding:0px;
}
.ba-f{background-attachment:fixed;}
.ba-i{background-attachment:inherit;}
.ba-n{background-attachment:initial;}
.ba-l{background-attachment:local;}
.ba-s{background-attachment:scroll;}
.bs-t{background-color:transparent;}
.bs-i{background-color:inherit;}
.br-i{background-repeat:inherit;}
.br-n{background-repeat:no-repeat;}
.br-x{background-repeat:repeat-x;}
.br-y{background-repeat:repeat-y;}
.bs-a{border-style:dashed;}
.bs-d{border-style:dotted;}
.bs-g{border-style:groove;}
.bs-i{border-style:inset;}
.bs-o{border-style:outset;}
.bs-r{border-style:ridge;}
.bs-s{border-style:solid;}
.bs-u{border-style:double;}
.bs-c{background-size:contain;}
.bs-v{background-size:cover;}

.di-i{direction:inherit;}
.di-l{direction:ltr;}
.di-r{direction:rtl;}
.dp-b{display:block;}
.dp-c{display:caption;}
.dp-f{display:flex;}
.dp-i{display:inherit;}
.dp-l{display:inline;}
.dp-lb{display:inline-block;}
.dp-lt{display:inline-table;}
.dp-n{display:none;}
.dp-m{display:list-item;}
.dp-t{display:table;}
.dp-tc{display:table-column;}
.dp-tcg{display:table-column-group;}
.dp-te{display:table-cell;}
.dp-thg{display:table-header-group;}
.dp-tr{display:table-row;}
.dp-trg{display:table-row-group;}

.fl-l{float:left;}
.fl-i{float:inherit;}
.fl-n{float:none;}
.fl-r{float:right;}
.fs-b{font-style:bold;}
.fs-o{font-style:oblique;}
.fs-n{font-style:normal;}
.fv-i{font-variant:inherit;}
.fv-n{font-variant:normal;}
.fv-s{font-variant:small-caps;}

.lh-i{line-height:inherit;}
.lh-n{line-height:normal;}
.ls-i{letter-spacing:inherit;}
.ls-n{letter-spacing:inherit;}
.lsi-i{list-style-image:inherit;}
.lsi-n{list-style-image:none;}
.lsp-i{list-style-position:inherit;}
.lsp-o{list-style-position:outside;}
.lsp-s{list-style-position:inside;}

.po-a{position:absolute;}
.po-f{position:fixed;}
.po-r{position:relative;}
.po-s{position:static;}

.R-100{right:100%;}
.R-50{right:50%;}
.R-25{right:25%;}
.R-20{right:20%;}
.R-10{right:10%;}
.R-5{right:5%;}
.R-4{right:4%;}
.R-2{right:2%;}
.R-1{right:1%;}
.R{right:0%;}

.sb-is{box-shadow:0px 0px 5px #000 inset;}
.sb-im{box-shadow:0px 0px 10px #000 inset;}
.sb-il{box-shadow:0px 0px 15px #000 inset;}
.sb-no{box-shadow:none;}
.sb-os{box-shadow:0px 0px 5px #000;}
.sb-om{box-shadow:0px 0px 10px #000;}
.sb-ol{box-shadow:0px 0px 15px #000;}

.ta-c{text-align:center;}
.ta-j{text-align:justify;}
.ta-l{text-align:left;}
.ta-r{text-align:right;}
.td-b{text-decoration:blink;}
.td-i{text-decoration:inherit;}
.td-l{text-decoration:line-through;}
.td-n{text-decoration:none;}
.td-o{text-decoration:overline;}
.td-u{text-decoration:underline;}
.tt-c{text-transform:capitalize;}
.tt-i{text-transform:inherit;}
.tt-l{text-transform:lowercase;}
.tt-n{text-transform:none;}
.tt-u{text-transform:uppercase;}

.va-a{vertical-align:baseline;}
.va-i{vertical-align:inherit;}
.va-m{vertical-align:middle;}
.va-b{vertical-align:bottom;}
.va-s{vertical-align:sub;}
.va-p{vertical-align:super;}
.va-tt{vertical-align:text-top;}
.va-tb{vertical-align:text-bottom;}

.ws-i{white-space:inherit;}
.ws-n{white-space:normal;}
.ws-w{white-space:nowrap;}
.ws-p{white-space:pre;}
.ws-l{white-space:pre-line;}
.ws-w{white-space:pre-wrap;}