ul
{
  
}
ol
{
  
}
li
{
    font-size:150%;
    display:list-item;
}

ul > li
{
  
}
ol > li
{
  
}
dropdown{
  background-color:#333333;
  border-color:#F3F1E4;
  border-style:solid;
  border-width:1px;
  border-radius:1px;
  color:#F3F1E4;
  display:inline-block;
  line-height:3vh;
  position:relative;
}
dropdown:hover{
  background-color:#F3F1E4;
  color:#333333;
}
dropdown > show{
  background-color:#333333;
  border-color:#F3F1E4;
  border-style:solid;
  border-width:1px;
  color:#F3F1E4;
  display:none;
  position:absolute;
}
dropdown:hover > show{
  display:block;
}
dropdown > show:hover{
  display:block;
}

list{
  background-color:#333333;
  border-color:#F3F1E4;
  border-style:solid;
  border-width:1px;
  border-radius:1px;
  color:#F3F1E4;
  display:inline-block;
  line-height:3vh;
}
list:hover
{
  background-color:#F3F1E4;
  color:#333333;
}
list > show{
  background-color:#333333;
  border-color:#F3F1E4;
  border-style:solid;
  border-width:1px;
  color:#F3F1E4;
  display:none;
}
list:hover > show{
  display:block;
}
list > show:hover{
  display:block;
}