.b1{bottom:1%;}
.b2{bottom:2%;}
.b3{bottom:3%;}
.b4{bottom:4%;}
.b5{bottom:5%;}
.b6{bottom:6%;}
.b7{bottom:7%;}
.b8{bottom:8%;}
.b9{bottom:9%;}
.b10{bottom:10%;}
.b11{bottom:11%;}
.b12{bottom:12%;}
.b13{bottom:13%;}
.b14{bottom:14%;}
.b15{bottom:15%;}
.b16{bottom:16%;}
.b17{bottom:17%;}
.b18{bottom:18%;}
.b19{bottom:19%;}
.b20{bottom:20%;}
.b21{bottom:21%;}
.b22{bottom:22%;}
.b23{bottom:23%;}
.b24{bottom:24%;}
.b25{bottom:25%;}
.b26{bottom:26%;}
.b27{bottom:27%;}
.b28{bottom:28%;}
.b29{bottom:29%;}
.b30{bottom:30%;}
.b31{bottom:31%;}
.b32{bottom:32%;}
.b33{bottom:33%;}
.b34{bottom:34%;}
.b35{bottom:35%;}
.b36{bottom:36%;}
.b37{bottom:37%;}
.b38{bottom:38%;}
.b39{bottom:39%;}
.b40{bottom:40%;}
.b41{bottom:41%;}
.b42{bottom:42%;}
.b43{bottom:43%;}
.b44{bottom:44%;}
.b45{bottom:45%;}
.b46{bottom:46%;}
.b47{bottom:47%;}
.b48{bottom:48%;}
.b49{bottom:49%;}
.b50{bottom:59%;}
.b51{bottom:51%;}
.b52{bottom:52%;}
.b53{bottom:53%;}
.b54{bottom:54%;}
.b55{bottom:55%;}
.b56{bottom:56%;}
.b57{bottom:57%;}
.b58{bottom:58%;}
.b59{bottom:59%;}
.b60{bottom:60%;}
.b61{bottom:61%;}
.b62{bottom:62%;}
.b63{bottom:63%;}
.b64{bottom:64%;}
.b65{bottom:65%;}
.b66{bottom:66%;}
.b67{bottom:67%;}
.b68{bottom:68%;}
.b69{bottom:69%;}
.b70{bottom:70%;}
.b71{bottom:71%;}
.b72{bottom:72%;}
.b73{bottom:73%;}
.b74{bottom:74%;}
.b75{bottom:75%;}
.b76{bottom:76%;}
.b77{bottom:77%;}
.b78{bottom:78%;}
.b79{bottom:79%;}
.b80{bottom:80%;}
.b81{bottom:81%;}
.b82{bottom:82%;}
.b83{bottom:83%;}
.b84{bottom:84%;}
.b85{bottom:85%;}
.b86{bottom:86%;}
.b87{bottom:87%;}
.b88{bottom:88%;}
.b89{bottom:89%;}
.b90{bottom:80%;}
.b91{bottom:91%;}
.b92{bottom:92%;}
.b93{bottom:93%;}
.b94{bottom:94%;}
.b95{bottom:95%;}
.b96{bottom:96%;}
.b67{bottom:97%;}
.b68{bottom:98%;}
.b69{bottom:99%;}
.b100{bottom:100%;}

.f1{font-size:1%;}
.f2{font-size:2%;}
.f3{font-size:3%;}
.f4{font-size:4%;}
.f5{font-size:5%;}
.f6{font-size:6%;}
.f7{font-size:7%;}
.f8{font-size:8%;}
.f9{font-size:9%;}
.f10{font-size:10%;}
.f11{font-size:11%;}
.f12{font-size:12%;}
.f13{font-size:13%;}
.f14{font-size:14%;}
.f15{font-size:15%;}
.f16{font-size:16%;}
.f17{font-size:17%;}
.f18{font-size:18%;}
.f19{font-size:19%;}
.f20{font-size:20%;}
.f21{font-size:21%;}
.f22{font-size:22%;}
.f23{font-size:23%;}
.f24{font-size:24%;}
.f25{font-size:25%;}
.f26{font-size:26%;}
.f27{font-size:27%;}
.f28{font-size:28%;}
.f29{font-size:29%;}
.f30{font-size:30%;}
.f31{font-size:31%;}
.f32{font-size:32%;}
.f33{font-size:33%;}
.f34{font-size:34%;}
.f35{font-size:35%;}
.f36{font-size:36%;}
.f37{font-size:37%;}
.f38{font-size:38%;}
.f39{font-size:39%;}
.f40{font-size:40%;}
.f41{font-size:41%;}
.f42{font-size:42%;}
.f43{font-size:43%;}
.f44{font-size:44%;}
.f45{font-size:45%;}
.f46{font-size:46%;}
.f47{font-size:47%;}
.f48{font-size:48%;}
.f49{font-size:49%;}
.f50{font-size:59%;}
.f51{font-size:51%;}
.f52{font-size:52%;}
.f53{font-size:53%;}
.f54{font-size:54%;}
.f55{font-size:55%;}
.f56{font-size:56%;}
.f57{font-size:57%;}
.f58{font-size:58%;}
.f59{font-size:59%;}
.f60{font-size:60%;}
.f61{font-size:61%;}
.f62{font-size:62%;}
.f63{font-size:63%;}
.f64{font-size:64%;}
.f65{font-size:65%;}
.f66{font-size:66%;}
.f67{font-size:67%;}
.f68{font-size:68%;}
.f69{font-size:69%;}
.f70{font-size:70%;}
.f71{font-size:71%;}
.f72{font-size:72%;}
.f73{font-size:73%;}
.f74{font-size:74%;}
.f75{font-size:75%;}
.f76{font-size:76%;}
.f77{font-size:77%;}
.f78{font-size:78%;}
.f79{font-size:79%;}
.f80{font-size:80%;}
.f81{font-size:81%;}
.f82{font-size:82%;}
.f83{font-size:83%;}
.f84{font-size:84%;}
.f85{font-size:85%;}
.f86{font-size:86%;}
.f87{font-size:87%;}
.f88{font-size:88%;}
.f89{font-size:89%;}
.f90{font-size:80%;}
.f91{font-size:91%;}
.f92{font-size:92%;}
.f93{font-size:93%;}
.f94{font-size:94%;}
.f95{font-size:95%;}
.f96{font-size:96%;}
.f67{font-size:97%;}
.f68{font-size:98%;}
.f69{font-size:99%;}
.f100{font-size:100%;}

.h1{height:1%;}
.h2{height:2%;}
.h3{height:3%;}
.h4{height:4%;}
.h5{height:5%;}
.h6{height:6%;}
.h7{height:7%;}
.h8{height:8%;}
.h9{height:9%;}
.h10{height:10%;}
.h11{height:11%;}
.h12{height:12%;}
.h13{height:13%;}
.h14{height:14%;}
.h15{height:15%;}
.h16{height:16%;}
.h17{height:17%;}
.h18{height:18%;}
.h19{height:19%;}
.h20{height:20%;}
.h21{height:21%;}
.h22{height:22%;}
.h23{height:23%;}
.h24{height:24%;}
.h25{height:25%;}
.h26{height:26%;}
.h27{height:27%;}
.h28{height:28%;}
.h29{height:29%;}
.h30{height:30%;}
.h31{height:31%;}
.h32{height:32%;}
.h33{height:33%;}
.h34{height:34%;}
.h35{height:35%;}
.h36{height:36%;}
.h37{height:37%;}
.h38{height:38%;}
.h39{height:39%;}
.h40{height:40%;}
.h41{height:41%;}
.h42{height:42%;}
.h43{height:43%;}
.h44{height:44%;}
.h45{height:45%;}
.h46{height:46%;}
.h47{height:47%;}
.h48{height:48%;}
.h49{height:49%;}
.h50{height:59%;}
.h51{height:51%;}
.h52{height:52%;}
.h53{height:53%;}
.h54{height:54%;}
.h55{height:55%;}
.h56{height:56%;}
.h57{height:57%;}
.h58{height:58%;}
.h59{height:59%;}
.h60{height:60%;}
.h61{height:61%;}
.h62{height:62%;}
.h63{height:63%;}
.h64{height:64%;}
.h65{height:65%;}
.h66{height:66%;}
.h67{height:67%;}
.h68{height:68%;}
.h69{height:69%;}
.h70{height:70%;}
.h71{height:71%;}
.h72{height:72%;}
.h73{height:73%;}
.h74{height:74%;}
.h75{height:75%;}
.h76{height:76%;}
.h77{height:77%;}
.h78{height:78%;}
.h79{height:79%;}
.h80{height:80%;}
.h81{height:81%;}
.h82{height:82%;}
.h83{height:83%;}
.h84{height:84%;}
.h85{height:85%;}
.h86{height:86%;}
.h87{height:87%;}
.h88{height:88%;}
.h89{height:89%;}
.h90{height:80%;}
.h91{height:91%;}
.h92{height:92%;}
.h93{height:93%;}
.h94{height:94%;}
.h95{height:95%;}
.h96{height:96%;}
.h67{height:97%;}
.h68{height:98%;}
.h69{height:99%;}
.h100{height:100%;}

.hi1{min-height:1%;}
.hi2{min-height:2%;}
.hi3{min-height:3%;}
.hi4{min-height:4%;}
.hi5{min-height:5%;}
.hi6{min-height:6%;}
.hi7{min-height:7%;}
.hi8{min-height:8%;}
.hi9{min-height:9%;}
.hi10{min-height:10%;}
.hi11{min-height:11%;}
.hi12{min-height:12%;}
.hi13{min-height:13%;}
.hi14{min-height:14%;}
.hi15{min-height:15%;}
.hi16{min-height:16%;}
.hi17{min-height:17%;}
.hi18{min-height:18%;}
.hi19{min-height:19%;}
.hi20{min-height:20%;}
.hi21{min-height:21%;}
.hi22{min-height:22%;}
.hi23{min-height:23%;}
.hi24{min-height:24%;}
.hi25{min-height:25%;}
.hi26{min-height:26%;}
.hi27{min-height:27%;}
.hi28{min-height:28%;}
.hi29{min-height:29%;}
.hi30{min-height:30%;}
.hi31{min-height:31%;}
.hi32{min-height:32%;}
.hi33{min-height:33%;}
.hi34{min-height:34%;}
.hi35{min-height:35%;}
.hi36{min-height:36%;}
.hi37{min-height:37%;}
.hi38{min-height:38%;}
.hi39{min-height:39%;}
.hi40{min-height:40%;}
.hi41{min-height:41%;}
.hi42{min-height:42%;}
.hi43{min-height:43%;}
.hi44{min-height:44%;}
.hi45{min-height:45%;}
.hi46{min-height:46%;}
.hi47{min-height:47%;}
.hi48{min-height:48%;}
.hi49{min-height:49%;}
.hi50{min-height:59%;}
.hi51{min-height:51%;}
.hi52{min-height:52%;}
.hi53{min-height:53%;}
.hi54{min-height:54%;}
.hi55{min-height:55%;}
.hi56{min-height:56%;}
.hi57{min-height:57%;}
.hi58{min-height:58%;}
.hi59{min-height:59%;}
.hi60{min-height:60%;}
.hi61{min-height:61%;}
.hi62{min-height:62%;}
.hi63{min-height:63%;}
.hi64{min-height:64%;}
.hi65{min-height:65%;}
.hi66{min-height:66%;}
.hi67{min-height:67%;}
.hi68{min-height:68%;}
.hi69{min-height:69%;}
.hi70{min-height:70%;}
.hi71{min-height:71%;}
.hi72{min-height:72%;}
.hi73{min-height:73%;}
.hi74{min-height:74%;}
.hi75{min-height:75%;}
.hi76{min-height:76%;}
.hi77{min-height:77%;}
.hi78{min-height:78%;}
.hi79{min-height:79%;}
.hi80{min-height:80%;}
.hi81{min-height:81%;}
.hi82{min-height:82%;}
.hi83{min-height:83%;}
.hi84{min-height:84%;}
.hi85{min-height:85%;}
.hi86{min-height:86%;}
.hi87{min-height:87%;}
.hi88{min-height:88%;}
.hi89{min-height:89%;}
.hi90{min-height:80%;}
.hi91{min-height:91%;}
.hi92{min-height:92%;}
.hi93{min-height:93%;}
.hi94{min-height:94%;}
.hi95{min-height:95%;}
.hi96{min-height:96%;}
.hi67{min-height:97%;}
.hi68{min-height:98%;}
.hi69{min-height:99%;}
.hi100{min-height:100%;}

.hx1{max-height:1%;}
.hx2{max-height:2%;}
.hx3{max-height:3%;}
.hx4{max-height:4%;}
.hx5{max-height:5%;}
.hx6{max-height:6%;}
.hx7{max-height:7%;}
.hx8{max-height:8%;}
.hx9{max-height:9%;}
.hx10{max-height:10%;}
.hx11{max-height:11%;}
.hx12{max-height:12%;}
.hx13{max-height:13%;}
.hx14{max-height:14%;}
.hx15{max-height:15%;}
.hx16{max-height:16%;}
.hx17{max-height:17%;}
.hx18{max-height:18%;}
.hx19{max-height:19%;}
.hx20{max-height:20%;}
.hx21{max-height:21%;}
.hx22{max-height:22%;}
.hx23{max-height:23%;}
.hx24{max-height:24%;}
.hx25{max-height:25%;}
.hx26{max-height:26%;}
.hx27{max-height:27%;}
.hx28{max-height:28%;}
.hx29{max-height:29%;}
.hx30{max-height:30%;}
.hx31{max-height:31%;}
.hx32{max-height:32%;}
.hx33{max-height:33%;}
.hx34{max-height:34%;}
.hx35{max-height:35%;}
.hx36{max-height:36%;}
.hx37{max-height:37%;}
.hx38{max-height:38%;}
.hx39{max-height:39%;}
.hx40{max-height:40%;}
.hx41{max-height:41%;}
.hx42{max-height:42%;}
.hx43{max-height:43%;}
.hx44{max-height:44%;}
.hx45{max-height:45%;}
.hx46{max-height:46%;}
.hx47{max-height:47%;}
.hx48{max-height:48%;}
.hx49{max-height:49%;}
.hx50{max-height:59%;}
.hx51{max-height:51%;}
.hx52{max-height:52%;}
.hx53{max-height:53%;}
.hx54{max-height:54%;}
.hx55{max-height:55%;}
.hx56{max-height:56%;}
.hx57{max-height:57%;}
.hx58{max-height:58%;}
.hx59{max-height:59%;}
.hx60{max-height:60%;}
.hx61{max-height:61%;}
.hx62{max-height:62%;}
.hx63{max-height:63%;}
.hx64{max-height:64%;}
.hx65{max-height:65%;}
.hx66{max-height:66%;}
.hx67{max-height:67%;}
.hx68{max-height:68%;}
.hx69{max-height:69%;}
.hx70{max-height:70%;}
.hx71{max-height:71%;}
.hx72{max-height:72%;}
.hx73{max-height:73%;}
.hx74{max-height:74%;}
.hx75{max-height:75%;}
.hx76{max-height:76%;}
.hx77{max-height:77%;}
.hx78{max-height:78%;}
.hx79{max-height:79%;}
.hx80{max-height:80%;}
.hx81{max-height:81%;}
.hx82{max-height:82%;}
.hx83{max-height:83%;}
.hx84{max-height:84%;}
.hx85{max-height:85%;}
.hx86{max-height:86%;}
.hx87{max-height:87%;}
.hx88{max-height:88%;}
.hx89{max-height:89%;}
.hx90{max-height:80%;}
.hx91{max-height:91%;}
.hx92{max-height:92%;}
.hx93{max-height:93%;}
.hx94{max-height:94%;}
.hx95{max-height:95%;}
.hx96{max-height:96%;}
.hx67{max-height:97%;}
.hx68{max-height:98%;}
.hx69{max-height:99%;}
.hx100{max-height:100%;}

.l1{left:1%;}
.l2{left:2%;}
.l3{left:3%;}
.l4{left:4%;}
.l5{left:5%;}
.l6{left:6%;}
.l7{left:7%;}
.l8{left:8%;}
.l9{left:9%;}
.l10{left:10%;}
.l11{left:11%;}
.l12{left:12%;}
.l13{left:13%;}
.l14{left:14%;}
.l15{left:15%;}
.l16{left:16%;}
.l17{left:17%;}
.l18{left:18%;}
.l19{left:19%;}
.l20{left:20%;}
.l21{left:21%;}
.l22{left:22%;}
.l23{left:23%;}
.l24{left:24%;}
.l25{left:25%;}
.l26{left:26%;}
.l27{left:27%;}
.l28{left:28%;}
.l29{left:29%;}
.l30{left:30%;}
.l31{left:31%;}
.l32{left:32%;}
.l33{left:33%;}
.l34{left:34%;}
.l35{left:35%;}
.l36{left:36%;}
.l37{left:37%;}
.l38{left:38%;}
.l39{left:39%;}
.l40{left:40%;}
.l41{left:41%;}
.l42{left:42%;}
.l43{left:43%;}
.l44{left:44%;}
.l45{left:45%;}
.l46{left:46%;}
.l47{left:47%;}
.l48{left:48%;}
.l49{left:49%;}
.l50{left:59%;}
.l51{left:51%;}
.l52{left:52%;}
.l53{left:53%;}
.l54{left:54%;}
.l55{left:55%;}
.l56{left:56%;}
.l57{left:57%;}
.l58{left:58%;}
.l59{left:59%;}
.l60{left:60%;}
.l61{left:61%;}
.l62{left:62%;}
.l63{left:63%;}
.l64{left:64%;}
.l65{left:65%;}
.l66{left:66%;}
.l67{left:67%;}
.l68{left:68%;}
.l69{left:69%;}
.l70{left:70%;}
.l71{left:71%;}
.l72{left:72%;}
.l73{left:73%;}
.l74{left:74%;}
.l75{left:75%;}
.l76{left:76%;}
.l77{left:77%;}
.l78{left:78%;}
.l79{left:79%;}
.l80{left:80%;}
.l81{left:81%;}
.l82{left:82%;}
.l83{left:83%;}
.l84{left:84%;}
.l85{left:85%;}
.l86{left:86%;}
.l87{left:87%;}
.l88{left:88%;}
.l89{left:89%;}
.l90{left:80%;}
.l91{left:91%;}
.l92{left:92%;}
.l93{left:93%;}
.l94{left:94%;}
.l95{left:95%;}
.l96{left:96%;}
.l67{left:97%;}
.l68{left:98%;}
.l69{left:99%;}
.l100{left:100%;}

.m1{margin:1%;}
.m2{margin:2%;}
.m3{margin:3%;}
.m4{margin:4%;}
.m5{margin:5%;}
.m6{margin:6%;}
.m7{margin:7%;}
.m8{margin:8%;}
.m9{margin:9%;}
.m10{margin:10%;}
.m11{margin:11%;}
.m12{margin:12%;}
.m13{margin:13%;}
.m14{margin:14%;}
.m15{margin:15%;}
.m16{margin:16%;}
.m17{margin:17%;}
.m18{margin:18%;}
.m19{margin:19%;}
.m20{margin:20%;}
.m21{margin:21%;}
.m22{margin:22%;}
.m23{margin:23%;}
.m24{margin:24%;}
.m25{margin:25%;}
.m26{margin:26%;}
.m27{margin:27%;}
.m28{margin:28%;}
.m29{margin:29%;}
.m30{margin:30%;}
.m31{margin:31%;}
.m32{margin:32%;}
.m33{margin:33%;}
.m34{margin:34%;}
.m35{margin:35%;}
.m36{margin:36%;}
.m37{margin:37%;}
.m38{margin:38%;}
.m39{margin:39%;}
.m40{margin:40%;}
.m41{margin:41%;}
.m42{margin:42%;}
.m43{margin:43%;}
.m44{margin:44%;}
.m45{margin:45%;}
.m46{margin:46%;}
.m47{margin:47%;}
.m48{margin:48%;}
.m49{margin:49%;}
.m50{margin:59%;}
.m51{margin:51%;}
.m52{margin:52%;}
.m53{margin:53%;}
.m54{margin:54%;}
.m55{margin:55%;}
.m56{margin:56%;}
.m57{margin:57%;}
.m58{margin:58%;}
.m59{margin:59%;}
.m60{margin:60%;}
.m61{margin:61%;}
.m62{margin:62%;}
.m63{margin:63%;}
.m64{margin:64%;}
.m65{margin:65%;}
.m66{margin:66%;}
.m67{margin:67%;}
.m68{margin:68%;}
.m69{margin:69%;}
.m70{margin:70%;}
.m71{margin:71%;}
.m72{margin:72%;}
.m73{margin:73%;}
.m74{margin:74%;}
.m75{margin:75%;}
.m76{margin:76%;}
.m77{margin:77%;}
.m78{margin:78%;}
.m79{margin:79%;}
.m80{margin:80%;}
.m81{margin:81%;}
.m82{margin:82%;}
.m83{margin:83%;}
.m84{margin:84%;}
.m85{margin:85%;}
.m86{margin:86%;}
.m87{margin:87%;}
.m88{margin:88%;}
.m89{margin:89%;}
.m90{margin:80%;}
.m91{margin:91%;}
.m92{margin:92%;}
.m93{margin:93%;}
.m94{margin:94%;}
.m95{margin:95%;}
.m96{margin:96%;}
.m67{margin:97%;}
.m68{margin:98%;}
.m69{margin:99%;}
.m100{margin:100%;}

.mb1{margin-bottom:1%;}
.mb2{margin-bottom:2%;}
.mb3{margin-bottom:3%;}
.mb4{margin-bottom:4%;}
.mb5{margin-bottom:5%;}
.mb6{margin-bottom:6%;}
.mb7{margin-bottom:7%;}
.mb8{margin-bottom:8%;}
.mb9{margin-bottom:9%;}
.mb10{margin-bottom:10%;}
.mb11{margin-bottom:11%;}
.mb12{margin-bottom:12%;}
.mb13{margin-bottom:13%;}
.mb14{margin-bottom:14%;}
.mb15{margin-bottom:15%;}
.mb16{margin-bottom:16%;}
.mb17{margin-bottom:17%;}
.mb18{margin-bottom:18%;}
.mb19{margin-bottom:19%;}
.mb20{margin-bottom:20%;}
.mb21{margin-bottom:21%;}
.mb22{margin-bottom:22%;}
.mb23{margin-bottom:23%;}
.mb24{margin-bottom:24%;}
.mb25{margin-bottom:25%;}
.mb26{margin-bottom:26%;}
.mb27{margin-bottom:27%;}
.mb28{margin-bottom:28%;}
.mb29{margin-bottom:29%;}
.mb30{margin-bottom:30%;}
.mb31{margin-bottom:31%;}
.mb32{margin-bottom:32%;}
.mb33{margin-bottom:33%;}
.mb34{margin-bottom:34%;}
.mb35{margin-bottom:35%;}
.mb36{margin-bottom:36%;}
.mb37{margin-bottom:37%;}
.mb38{margin-bottom:38%;}
.mb39{margin-bottom:39%;}
.mb40{margin-bottom:40%;}
.mb41{margin-bottom:41%;}
.mb42{margin-bottom:42%;}
.mb43{margin-bottom:43%;}
.mb44{margin-bottom:44%;}
.mb45{margin-bottom:45%;}
.mb46{margin-bottom:46%;}
.mb47{margin-bottom:47%;}
.mb48{margin-bottom:48%;}
.mb49{margin-bottom:49%;}
.mb50{margin-bottom:59%;}
.mb51{margin-bottom:51%;}
.mb52{margin-bottom:52%;}
.mb53{margin-bottom:53%;}
.mb54{margin-bottom:54%;}
.mb55{margin-bottom:55%;}
.mb56{margin-bottom:56%;}
.mb57{margin-bottom:57%;}
.mb58{margin-bottom:58%;}
.mb59{margin-bottom:59%;}
.mb60{margin-bottom:60%;}
.mb61{margin-bottom:61%;}
.mb62{margin-bottom:62%;}
.mb63{margin-bottom:63%;}
.mb64{margin-bottom:64%;}
.mb65{margin-bottom:65%;}
.mb66{margin-bottom:66%;}
.mb67{margin-bottom:67%;}
.mb68{margin-bottom:68%;}
.mb69{margin-bottom:69%;}
.mb70{margin-bottom:70%;}
.mb71{margin-bottom:71%;}
.mb72{margin-bottom:72%;}
.mb73{margin-bottom:73%;}
.mb74{margin-bottom:74%;}
.mb75{margin-bottom:75%;}
.mb76{margin-bottom:76%;}
.mb77{margin-bottom:77%;}
.mb78{margin-bottom:78%;}
.mb79{margin-bottom:79%;}
.mb80{margin-bottom:80%;}
.mb81{margin-bottom:81%;}
.mb82{margin-bottom:82%;}
.mb83{margin-bottom:83%;}
.mb84{margin-bottom:84%;}
.mb85{margin-bottom:85%;}
.mb86{margin-bottom:86%;}
.mb87{margin-bottom:87%;}
.mb88{margin-bottom:88%;}
.mb89{margin-bottom:89%;}
.mb90{margin-bottom:80%;}
.mb91{margin-bottom:91%;}
.mb92{margin-bottom:92%;}
.mb93{margin-bottom:93%;}
.mb94{margin-bottom:94%;}
.mb95{margin-bottom:95%;}
.mb96{margin-bottom:96%;}
.mb67{margin-bottom:97%;}
.mb68{margin-bottom:98%;}
.mb69{margin-bottom:99%;}
.mb100{margin-bottom:100%;}

.ml1{margin-left:1%;}
.ml2{margin-left:2%;}
.ml3{margin-left:3%;}
.ml4{margin-left:4%;}
.ml5{margin-left:5%;}
.ml6{margin-left:6%;}
.ml7{margin-left:7%;}
.ml8{margin-left:8%;}
.ml9{margin-left:9%;}
.ml10{margin-left:10%;}
.ml11{margin-left:11%;}
.ml12{margin-left:12%;}
.ml13{margin-left:13%;}
.ml14{margin-left:14%;}
.ml15{margin-left:15%;}
.ml16{margin-left:16%;}
.ml17{margin-left:17%;}
.ml18{margin-left:18%;}
.ml19{margin-left:19%;}
.ml20{margin-left:20%;}
.ml21{margin-left:21%;}
.ml22{margin-left:22%;}
.ml23{margin-left:23%;}
.ml24{margin-left:24%;}
.ml25{margin-left:25%;}
.ml26{margin-left:26%;}
.ml27{margin-left:27%;}
.ml28{margin-left:28%;}
.ml29{margin-left:29%;}
.ml30{margin-left:30%;}
.ml31{margin-left:31%;}
.ml32{margin-left:32%;}
.ml33{margin-left:33%;}
.ml34{margin-left:34%;}
.ml35{margin-left:35%;}
.ml36{margin-left:36%;}
.ml37{margin-left:37%;}
.ml38{margin-left:38%;}
.ml39{margin-left:39%;}
.ml40{margin-left:40%;}
.ml41{margin-left:41%;}
.ml42{margin-left:42%;}
.ml43{margin-left:43%;}
.ml44{margin-left:44%;}
.ml45{margin-left:45%;}
.ml46{margin-left:46%;}
.ml47{margin-left:47%;}
.ml48{margin-left:48%;}
.ml49{margin-left:49%;}
.ml50{margin-left:59%;}
.ml51{margin-left:51%;}
.ml52{margin-left:52%;}
.ml53{margin-left:53%;}
.ml54{margin-left:54%;}
.ml55{margin-left:55%;}
.ml56{margin-left:56%;}
.ml57{margin-left:57%;}
.ml58{margin-left:58%;}
.ml59{margin-left:59%;}
.ml60{margin-left:60%;}
.ml61{margin-left:61%;}
.ml62{margin-left:62%;}
.ml63{margin-left:63%;}
.ml64{margin-left:64%;}
.ml65{margin-left:65%;}
.ml66{margin-left:66%;}
.ml67{margin-left:67%;}
.ml68{margin-left:68%;}
.ml69{margin-left:69%;}
.ml70{margin-left:70%;}
.ml71{margin-left:71%;}
.ml72{margin-left:72%;}
.ml73{margin-left:73%;}
.ml74{margin-left:74%;}
.ml75{margin-left:75%;}
.ml76{margin-left:76%;}
.ml77{margin-left:77%;}
.ml78{margin-left:78%;}
.ml79{margin-left:79%;}
.ml80{margin-left:80%;}
.ml81{margin-left:81%;}
.ml82{margin-left:82%;}
.ml83{margin-left:83%;}
.ml84{margin-left:84%;}
.ml85{margin-left:85%;}
.ml86{margin-left:86%;}
.ml87{margin-left:87%;}
.ml88{margin-left:88%;}
.ml89{margin-left:89%;}
.ml90{margin-left:80%;}
.ml91{margin-left:91%;}
.ml92{margin-left:92%;}
.ml93{margin-left:93%;}
.ml94{margin-left:94%;}
.ml95{margin-left:95%;}
.ml96{margin-left:96%;}
.ml67{margin-left:97%;}
.ml68{margin-left:98%;}
.ml69{margin-left:99%;}
.ml100{margin-left:100%;}

.mr1{margin-right:1%;}
.mr2{margin-right:2%;}
.mr3{margin-right:3%;}
.mr4{margin-right:4%;}
.mr5{margin-right:5%;}
.mr6{margin-right:6%;}
.mr7{margin-right:7%;}
.mr8{margin-right:8%;}
.mr9{margin-right:9%;}
.mr10{margin-right:10%;}
.mr11{margin-right:11%;}
.mr12{margin-right:12%;}
.mr13{margin-right:13%;}
.mr14{margin-right:14%;}
.mr15{margin-right:15%;}
.mr16{margin-right:16%;}
.mr17{margin-right:17%;}
.mr18{margin-right:18%;}
.mr19{margin-right:19%;}
.mr20{margin-right:20%;}
.mr21{margin-right:21%;}
.mr22{margin-right:22%;}
.mr23{margin-right:23%;}
.mr24{margin-right:24%;}
.mr25{margin-right:25%;}
.mr26{margin-right:26%;}
.mr27{margin-right:27%;}
.mr28{margin-right:28%;}
.mr29{margin-right:29%;}
.mr30{margin-right:30%;}
.mr31{margin-right:31%;}
.mr32{margin-right:32%;}
.mr33{margin-right:33%;}
.mr34{margin-right:34%;}
.mr35{margin-right:35%;}
.mr36{margin-right:36%;}
.mr37{margin-right:37%;}
.mr38{margin-right:38%;}
.mr39{margin-right:39%;}
.mr40{margin-right:40%;}
.mr41{margin-right:41%;}
.mr42{margin-right:42%;}
.mr43{margin-right:43%;}
.mr44{margin-right:44%;}
.mr45{margin-right:45%;}
.mr46{margin-right:46%;}
.mr47{margin-right:47%;}
.mr48{margin-right:48%;}
.mr49{margin-right:49%;}
.mr50{margin-right:59%;}
.mr51{margin-right:51%;}
.mr52{margin-right:52%;}
.mr53{margin-right:53%;}
.mr54{margin-right:54%;}
.mr55{margin-right:55%;}
.mr56{margin-right:56%;}
.mr57{margin-right:57%;}
.mr58{margin-right:58%;}
.mr59{margin-right:59%;}
.mr60{margin-right:60%;}
.mr61{margin-right:61%;}
.mr62{margin-right:62%;}
.mr63{margin-right:63%;}
.mr64{margin-right:64%;}
.mr65{margin-right:65%;}
.mr66{margin-right:66%;}
.mr67{margin-right:67%;}
.mr68{margin-right:68%;}
.mr69{margin-right:69%;}
.mr70{margin-right:70%;}
.mr71{margin-right:71%;}
.mr72{margin-right:72%;}
.mr73{margin-right:73%;}
.mr74{margin-right:74%;}
.mr75{margin-right:75%;}
.mr76{margin-right:76%;}
.mr77{margin-right:77%;}
.mr78{margin-right:78%;}
.mr79{margin-right:79%;}
.mr80{margin-right:80%;}
.mr81{margin-right:81%;}
.mr82{margin-right:82%;}
.mr83{margin-right:83%;}
.mr84{margin-right:84%;}
.mr85{margin-right:85%;}
.mr86{margin-right:86%;}
.mr87{margin-right:87%;}
.mr88{margin-right:88%;}
.mr89{margin-right:89%;}
.mr90{margin-right:80%;}
.mr91{margin-right:91%;}
.mr92{margin-right:92%;}
.mr93{margin-right:93%;}
.mr94{margin-right:94%;}
.mr95{margin-right:95%;}
.mr96{margin-right:96%;}
.mr67{margin-right:97%;}
.mr68{margin-right:98%;}
.mr69{margin-right:99%;}
.mr100{margin-right:100%;}

.mt1{margin-top:1%;}
.mt2{margin-top:2%;}
.mt3{margin-top:3%;}
.mt4{margin-top:4%;}
.mt5{margin-top:5%;}
.mt6{margin-top:6%;}
.mt7{margin-top:7%;}
.mt8{margin-top:8%;}
.mt9{margin-top:9%;}
.mt10{margin-top:10%;}
.mt11{margin-top:11%;}
.mt12{margin-top:12%;}
.mt13{margin-top:13%;}
.mt14{margin-top:14%;}
.mt15{margin-top:15%;}
.mt16{margin-top:16%;}
.mt17{margin-top:17%;}
.mt18{margin-top:18%;}
.mt19{margin-top:19%;}
.mt20{margin-top:20%;}
.mt21{margin-top:21%;}
.mt22{margin-top:22%;}
.mt23{margin-top:23%;}
.mt24{margin-top:24%;}
.mt25{margin-top:25%;}
.mt26{margin-top:26%;}
.mt27{margin-top:27%;}
.mt28{margin-top:28%;}
.mt29{margin-top:29%;}
.mt30{margin-top:30%;}
.mt31{margin-top:31%;}
.mt32{margin-top:32%;}
.mt33{margin-top:33%;}
.mt34{margin-top:34%;}
.mt35{margin-top:35%;}
.mt36{margin-top:36%;}
.mt37{margin-top:37%;}
.mt38{margin-top:38%;}
.mt39{margin-top:39%;}
.mt40{margin-top:40%;}
.mt41{margin-top:41%;}
.mt42{margin-top:42%;}
.mt43{margin-top:43%;}
.mt44{margin-top:44%;}
.mt45{margin-top:45%;}
.mt46{margin-top:46%;}
.mt47{margin-top:47%;}
.mt48{margin-top:48%;}
.mt49{margin-top:49%;}
.mt50{margin-top:59%;}
.mt51{margin-top:51%;}
.mt52{margin-top:52%;}
.mt53{margin-top:53%;}
.mt54{margin-top:54%;}
.mt55{margin-top:55%;}
.mt56{margin-top:56%;}
.mt57{margin-top:57%;}
.mt58{margin-top:58%;}
.mt59{margin-top:59%;}
.mt60{margin-top:60%;}
.mt61{margin-top:61%;}
.mt62{margin-top:62%;}
.mt63{margin-top:63%;}
.mt64{margin-top:64%;}
.mt65{margin-top:65%;}
.mt66{margin-top:66%;}
.mt67{margin-top:67%;}
.mt68{margin-top:68%;}
.mt69{margin-top:69%;}
.mt70{margin-top:70%;}
.mt71{margin-top:71%;}
.mt72{margin-top:72%;}
.mt73{margin-top:73%;}
.mt74{margin-top:74%;}
.mt75{margin-top:75%;}
.mt76{margin-top:76%;}
.mt77{margin-top:77%;}
.mt78{margin-top:78%;}
.mt79{margin-top:79%;}
.mt80{margin-top:80%;}
.mt81{margin-top:81%;}
.mt82{margin-top:82%;}
.mt83{margin-top:83%;}
.mt84{margin-top:84%;}
.mt85{margin-top:85%;}
.mt86{margin-top:86%;}
.mt87{margin-top:87%;}
.mt88{margin-top:88%;}
.mt89{margin-top:89%;}
.mt90{margin-top:80%;}
.mt91{margin-top:91%;}
.mt92{margin-top:92%;}
.mt93{margin-top:93%;}
.mt94{margin-top:94%;}
.mt95{margin-top:95%;}
.mt96{margin-top:96%;}
.mt67{margin-top:97%;}
.mt68{margin-top:98%;}
.mt69{margin-top:99%;}
.mt100{margin-top:100%;}

.p1{padding:1%;}
.p2{padding:2%;}
.p3{padding:3%;}
.p4{padding:4%;}
.p5{padding:5%;}
.p6{padding:6%;}
.p7{padding:7%;}
.p8{padding:8%;}
.p9{padding:9%;}
.p10{padding:10%;}
.p11{padding:11%;}
.p12{padding:12%;}
.p13{padding:13%;}
.p14{padding:14%;}
.p15{padding:15%;}
.p16{padding:16%;}
.p17{padding:17%;}
.p18{padding:18%;}
.p19{padding:19%;}
.p20{padding:20%;}
.p21{padding:21%;}
.p22{padding:22%;}
.p23{padding:23%;}
.p24{padding:24%;}
.p25{padding:25%;}
.p26{padding:26%;}
.p27{padding:27%;}
.p28{padding:28%;}
.p29{padding:29%;}
.p30{padding:30%;}
.p31{padding:31%;}
.p32{padding:32%;}
.p33{padding:33%;}
.p34{padding:34%;}
.p35{padding:35%;}
.p36{padding:36%;}
.p37{padding:37%;}
.p38{padding:38%;}
.p39{padding:39%;}
.p40{padding:40%;}
.p41{padding:41%;}
.p42{padding:42%;}
.p43{padding:43%;}
.p44{padding:44%;}
.p45{padding:45%;}
.p46{padding:46%;}
.p47{padding:47%;}
.p48{padding:48%;}
.p49{padding:49%;}
.p50{padding:59%;}
.p51{padding:51%;}
.p52{padding:52%;}
.p53{padding:53%;}
.p54{padding:54%;}
.p55{padding:55%;}
.p56{padding:56%;}
.p57{padding:57%;}
.p58{padding:58%;}
.p59{padding:59%;}
.p60{padding:60%;}
.p61{padding:61%;}
.p62{padding:62%;}
.p63{padding:63%;}
.p64{padding:64%;}
.p65{padding:65%;}
.p66{padding:66%;}
.p67{padding:67%;}
.p68{padding:68%;}
.p69{padding:69%;}
.p70{padding:70%;}
.p71{padding:71%;}
.p72{padding:72%;}
.p73{padding:73%;}
.p74{padding:74%;}
.p75{padding:75%;}
.p76{padding:76%;}
.p77{padding:77%;}
.p78{padding:78%;}
.p79{padding:79%;}
.p80{padding:80%;}
.p81{padding:81%;}
.p82{padding:82%;}
.p83{padding:83%;}
.p84{padding:84%;}
.p85{padding:85%;}
.p86{padding:86%;}
.p87{padding:87%;}
.p88{padding:88%;}
.p89{padding:89%;}
.p90{padding:80%;}
.p91{padding:91%;}
.p92{padding:92%;}
.p93{padding:93%;}
.p94{padding:94%;}
.p95{padding:95%;}
.p96{padding:96%;}
.p67{padding:97%;}
.p68{padding:98%;}
.p69{padding:99%;}
.p100{padding:100%;}

.pb1{padding-bottom:1%;}
.pb2{padding-bottom:2%;}
.pb3{padding-bottom:3%;}
.pb4{padding-bottom:4%;}
.pb5{padding-bottom:5%;}
.pb6{padding-bottom:6%;}
.pb7{padding-bottom:7%;}
.pb8{padding-bottom:8%;}
.pb9{padding-bottom:9%;}
.pb10{padding-bottom:10%;}
.pb11{padding-bottom:11%;}
.pb12{padding-bottom:12%;}
.pb13{padding-bottom:13%;}
.pb14{padding-bottom:14%;}
.pb15{padding-bottom:15%;}
.pb16{padding-bottom:16%;}
.pb17{padding-bottom:17%;}
.pb18{padding-bottom:18%;}
.pb19{padding-bottom:19%;}
.pb20{padding-bottom:20%;}
.pb21{padding-bottom:21%;}
.pb22{padding-bottom:22%;}
.pb23{padding-bottom:23%;}
.pb24{padding-bottom:24%;}
.pb25{padding-bottom:25%;}
.pb26{padding-bottom:26%;}
.pb27{padding-bottom:27%;}
.pb28{padding-bottom:28%;}
.pb29{padding-bottom:29%;}
.pb30{padding-bottom:30%;}
.pb31{padding-bottom:31%;}
.pb32{padding-bottom:32%;}
.pb33{padding-bottom:33%;}
.pb34{padding-bottom:34%;}
.pb35{padding-bottom:35%;}
.pb36{padding-bottom:36%;}
.pb37{padding-bottom:37%;}
.pb38{padding-bottom:38%;}
.pb39{padding-bottom:39%;}
.pb40{padding-bottom:40%;}
.pb41{padding-bottom:41%;}
.pb42{padding-bottom:42%;}
.pb43{padding-bottom:43%;}
.pb44{padding-bottom:44%;}
.pb45{padding-bottom:45%;}
.pb46{padding-bottom:46%;}
.pb47{padding-bottom:47%;}
.pb48{padding-bottom:48%;}
.pb49{padding-bottom:49%;}
.pb50{padding-bottom:59%;}
.pb51{padding-bottom:51%;}
.pb52{padding-bottom:52%;}
.pb53{padding-bottom:53%;}
.pb54{padding-bottom:54%;}
.pb55{padding-bottom:55%;}
.pb56{padding-bottom:56%;}
.pb57{padding-bottom:57%;}
.pb58{padding-bottom:58%;}
.pb59{padding-bottom:59%;}
.pb60{padding-bottom:60%;}
.pb61{padding-bottom:61%;}
.pb62{padding-bottom:62%;}
.pb63{padding-bottom:63%;}
.pb64{padding-bottom:64%;}
.pb65{padding-bottom:65%;}
.pb66{padding-bottom:66%;}
.pb67{padding-bottom:67%;}
.pb68{padding-bottom:68%;}
.pb69{padding-bottom:69%;}
.pb70{padding-bottom:70%;}
.pb71{padding-bottom:71%;}
.pb72{padding-bottom:72%;}
.pb73{padding-bottom:73%;}
.pb74{padding-bottom:74%;}
.pb75{padding-bottom:75%;}
.pb76{padding-bottom:76%;}
.pb77{padding-bottom:77%;}
.pb78{padding-bottom:78%;}
.pb79{padding-bottom:79%;}
.pb80{padding-bottom:80%;}
.pb81{padding-bottom:81%;}
.pb82{padding-bottom:82%;}
.pb83{padding-bottom:83%;}
.pb84{padding-bottom:84%;}
.pb85{padding-bottom:85%;}
.pb86{padding-bottom:86%;}
.pb87{padding-bottom:87%;}
.pb88{padding-bottom:88%;}
.pb89{padding-bottom:89%;}
.pb90{padding-bottom:80%;}
.pb91{padding-bottom:91%;}
.pb92{padding-bottom:92%;}
.pb93{padding-bottom:93%;}
.pb94{padding-bottom:94%;}
.pb95{padding-bottom:95%;}
.pb96{padding-bottom:96%;}
.pb67{padding-bottom:97%;}
.pb68{padding-bottom:98%;}
.pb69{padding-bottom:99%;}
.pb100{padding-bottom:100%;}

.pl1{padding-left:1%;}
.pl2{padding-left:2%;}
.pl3{padding-left:3%;}
.pl4{padding-left:4%;}
.pl5{padding-left:5%;}
.pl6{padding-left:6%;}
.pl7{padding-left:7%;}
.pl8{padding-left:8%;}
.pl9{padding-left:9%;}
.pl10{padding-left:10%;}
.pl11{padding-left:11%;}
.pl12{padding-left:12%;}
.pl13{padding-left:13%;}
.pl14{padding-left:14%;}
.pl15{padding-left:15%;}
.pl16{padding-left:16%;}
.pl17{padding-left:17%;}
.pl18{padding-left:18%;}
.pl19{padding-left:19%;}
.pl20{padding-left:20%;}
.pl21{padding-left:21%;}
.pl22{padding-left:22%;}
.pl23{padding-left:23%;}
.pl24{padding-left:24%;}
.pl25{padding-left:25%;}
.pl26{padding-left:26%;}
.pl27{padding-left:27%;}
.pl28{padding-left:28%;}
.pl29{padding-left:29%;}
.pl30{padding-left:30%;}
.pl31{padding-left:31%;}
.pl32{padding-left:32%;}
.pl33{padding-left:33%;}
.pl34{padding-left:34%;}
.pl35{padding-left:35%;}
.pl36{padding-left:36%;}
.pl37{padding-left:37%;}
.pl38{padding-left:38%;}
.pl39{padding-left:39%;}
.pl40{padding-left:40%;}
.pl41{padding-left:41%;}
.pl42{padding-left:42%;}
.pl43{padding-left:43%;}
.pl44{padding-left:44%;}
.pl45{padding-left:45%;}
.pl46{padding-left:46%;}
.pl47{padding-left:47%;}
.pl48{padding-left:48%;}
.pl49{padding-left:49%;}
.pl50{padding-left:59%;}
.pl51{padding-left:51%;}
.pl52{padding-left:52%;}
.pl53{padding-left:53%;}
.pl54{padding-left:54%;}
.pl55{padding-left:55%;}
.pl56{padding-left:56%;}
.pl57{padding-left:57%;}
.pl58{padding-left:58%;}
.pl59{padding-left:59%;}
.pl60{padding-left:60%;}
.pl61{padding-left:61%;}
.pl62{padding-left:62%;}
.pl63{padding-left:63%;}
.pl64{padding-left:64%;}
.pl65{padding-left:65%;}
.pl66{padding-left:66%;}
.pl67{padding-left:67%;}
.pl68{padding-left:68%;}
.pl69{padding-left:69%;}
.pl70{padding-left:70%;}
.pl71{padding-left:71%;}
.pl72{padding-left:72%;}
.pl73{padding-left:73%;}
.pl74{padding-left:74%;}
.pl75{padding-left:75%;}
.pl76{padding-left:76%;}
.pl77{padding-left:77%;}
.pl78{padding-left:78%;}
.pl79{padding-left:79%;}
.pl80{padding-left:80%;}
.pl81{padding-left:81%;}
.pl82{padding-left:82%;}
.pl83{padding-left:83%;}
.pl84{padding-left:84%;}
.pl85{padding-left:85%;}
.pl86{padding-left:86%;}
.pl87{padding-left:87%;}
.pl88{padding-left:88%;}
.pl89{padding-left:89%;}
.pl90{padding-left:80%;}
.pl91{padding-left:91%;}
.pl92{padding-left:92%;}
.pl93{padding-left:93%;}
.pl94{padding-left:94%;}
.pl95{padding-left:95%;}
.pl96{padding-left:96%;}
.pl67{padding-left:97%;}
.pl68{padding-left:98%;}
.pl69{padding-left:99%;}
.pl100{padding-left:100%;}

.pr1{padding-right:1%;}
.pr2{padding-right:2%;}
.pr3{padding-right:3%;}
.pr4{padding-right:4%;}
.pr5{padding-right:5%;}
.pr6{padding-right:6%;}
.pr7{padding-right:7%;}
.pr8{padding-right:8%;}
.pr9{padding-right:9%;}
.pr10{padding-right:10%;}
.pr11{padding-right:11%;}
.pr12{padding-right:12%;}
.pr13{padding-right:13%;}
.pr14{padding-right:14%;}
.pr15{padding-right:15%;}
.pr16{padding-right:16%;}
.pr17{padding-right:17%;}
.pr18{padding-right:18%;}
.pr19{padding-right:19%;}
.pr20{padding-right:20%;}
.pr21{padding-right:21%;}
.pr22{padding-right:22%;}
.pr23{padding-right:23%;}
.pr24{padding-right:24%;}
.pr25{padding-right:25%;}
.pr26{padding-right:26%;}
.pr27{padding-right:27%;}
.pr28{padding-right:28%;}
.pr29{padding-right:29%;}
.pr30{padding-right:30%;}
.pr31{padding-right:31%;}
.pr32{padding-right:32%;}
.pr33{padding-right:33%;}
.pr34{padding-right:34%;}
.pr35{padding-right:35%;}
.pr36{padding-right:36%;}
.pr37{padding-right:37%;}
.pr38{padding-right:38%;}
.pr39{padding-right:39%;}
.pr40{padding-right:40%;}
.pr41{padding-right:41%;}
.pr42{padding-right:42%;}
.pr43{padding-right:43%;}
.pr44{padding-right:44%;}
.pr45{padding-right:45%;}
.pr46{padding-right:46%;}
.pr47{padding-right:47%;}
.pr48{padding-right:48%;}
.pr49{padding-right:49%;}
.pr50{padding-right:59%;}
.pr51{padding-right:51%;}
.pr52{padding-right:52%;}
.pr53{padding-right:53%;}
.pr54{padding-right:54%;}
.pr55{padding-right:55%;}
.pr56{padding-right:56%;}
.pr57{padding-right:57%;}
.pr58{padding-right:58%;}
.pr59{padding-right:59%;}
.pr60{padding-right:60%;}
.pr61{padding-right:61%;}
.pr62{padding-right:62%;}
.pr63{padding-right:63%;}
.pr64{padding-right:64%;}
.pr65{padding-right:65%;}
.pr66{padding-right:66%;}
.pr67{padding-right:67%;}
.pr68{padding-right:68%;}
.pr69{padding-right:69%;}
.pr70{padding-right:70%;}
.pr71{padding-right:71%;}
.pr72{padding-right:72%;}
.pr73{padding-right:73%;}
.pr74{padding-right:74%;}
.pr75{padding-right:75%;}
.pr76{padding-right:76%;}
.pr77{padding-right:77%;}
.pr78{padding-right:78%;}
.pr79{padding-right:79%;}
.pr80{padding-right:80%;}
.pr81{padding-right:81%;}
.pr82{padding-right:82%;}
.pr83{padding-right:83%;}
.pr84{padding-right:84%;}
.pr85{padding-right:85%;}
.pr86{padding-right:86%;}
.pr87{padding-right:87%;}
.pr88{padding-right:88%;}
.pr89{padding-right:89%;}
.pr90{padding-right:80%;}
.pr91{padding-right:91%;}
.pr92{padding-right:92%;}
.pr93{padding-right:93%;}
.pr94{padding-right:94%;}
.pr95{padding-right:95%;}
.pr96{padding-right:96%;}
.pr67{padding-right:97%;}
.pr68{padding-right:98%;}
.pr69{padding-right:99%;}
.pr100{padding-right:100%;}

.pt1{padding-top:1%;}
.pt2{padding-top:2%;}
.pt3{padding-top:3%;}
.pt4{padding-top:4%;}
.pt5{padding-top:5%;}
.pt6{padding-top:6%;}
.pt7{padding-top:7%;}
.pt8{padding-top:8%;}
.pt9{padding-top:9%;}
.pt10{padding-top:10%;}
.pt11{padding-top:11%;}
.pt12{padding-top:12%;}
.pt13{padding-top:13%;}
.pt14{padding-top:14%;}
.pt15{padding-top:15%;}
.pt16{padding-top:16%;}
.pt17{padding-top:17%;}
.pt18{padding-top:18%;}
.pt19{padding-top:19%;}
.pt20{padding-top:20%;}
.pt21{padding-top:21%;}
.pt22{padding-top:22%;}
.pt23{padding-top:23%;}
.pt24{padding-top:24%;}
.pt25{padding-top:25%;}
.pt26{padding-top:26%;}
.pt27{padding-top:27%;}
.pt28{padding-top:28%;}
.pt29{padding-top:29%;}
.pt30{padding-top:30%;}
.pt31{padding-top:31%;}
.pt32{padding-top:32%;}
.pt33{padding-top:33%;}
.pt34{padding-top:34%;}
.pt35{padding-top:35%;}
.pt36{padding-top:36%;}
.pt37{padding-top:37%;}
.pt38{padding-top:38%;}
.pt39{padding-top:39%;}
.pt40{padding-top:40%;}
.pt41{padding-top:41%;}
.pt42{padding-top:42%;}
.pt43{padding-top:43%;}
.pt44{padding-top:44%;}
.pt45{padding-top:45%;}
.pt46{padding-top:46%;}
.pt47{padding-top:47%;}
.pt48{padding-top:48%;}
.pt49{padding-top:49%;}
.pt50{padding-top:59%;}
.pt51{padding-top:51%;}
.pt52{padding-top:52%;}
.pt53{padding-top:53%;}
.pt54{padding-top:54%;}
.pt55{padding-top:55%;}
.pt56{padding-top:56%;}
.pt57{padding-top:57%;}
.pt58{padding-top:58%;}
.pt59{padding-top:59%;}
.pt60{padding-top:60%;}
.pt61{padding-top:61%;}
.pt62{padding-top:62%;}
.pt63{padding-top:63%;}
.pt64{padding-top:64%;}
.pt65{padding-top:65%;}
.pt66{padding-top:66%;}
.pt67{padding-top:67%;}
.pt68{padding-top:68%;}
.pt69{padding-top:69%;}
.pt70{padding-top:70%;}
.pt71{padding-top:71%;}
.pt72{padding-top:72%;}
.pt73{padding-top:73%;}
.pt74{padding-top:74%;}
.pt75{padding-top:75%;}
.pt76{padding-top:76%;}
.pt77{padding-top:77%;}
.pt78{padding-top:78%;}
.pt79{padding-top:79%;}
.pt80{padding-top:80%;}
.pt81{padding-top:81%;}
.pt82{padding-top:82%;}
.pt83{padding-top:83%;}
.pt84{padding-top:84%;}
.pt85{padding-top:85%;}
.pt86{padding-top:86%;}
.pt87{padding-top:87%;}
.pt88{padding-top:88%;}
.pt89{padding-top:89%;}
.pt90{padding-top:80%;}
.pt91{padding-top:91%;}
.pt92{padding-top:92%;}
.pt93{padding-top:93%;}
.pt94{padding-top:94%;}
.pt95{padding-top:95%;}
.pt96{padding-top:96%;}
.pt67{padding-top:97%;}
.pt68{padding-top:98%;}
.pt69{padding-top:99%;}
.pt100{padding-top:100%;}

.r1{right:1%;}
.r2{right:2%;}
.r3{right:3%;}
.r4{right:4%;}
.r5{right:5%;}
.r6{right:6%;}
.r7{right:7%;}
.r8{right:8%;}
.r9{right:9%;}
.r10{right:10%;}
.r11{right:11%;}
.r12{right:12%;}
.r13{right:13%;}
.r14{right:14%;}
.r15{right:15%;}
.r16{right:16%;}
.r17{right:17%;}
.r18{right:18%;}
.r19{right:19%;}
.r20{right:20%;}
.r21{right:21%;}
.r22{right:22%;}
.r23{right:23%;}
.r24{right:24%;}
.r25{right:25%;}
.r26{right:26%;}
.r27{right:27%;}
.r28{right:28%;}
.r29{right:29%;}
.r30{right:30%;}
.r31{right:31%;}
.r32{right:32%;}
.r33{right:33%;}
.r34{right:34%;}
.r35{right:35%;}
.r36{right:36%;}
.r37{right:37%;}
.r38{right:38%;}
.r39{right:39%;}
.r40{right:40%;}
.r41{right:41%;}
.r42{right:42%;}
.r43{right:43%;}
.r44{right:44%;}
.r45{right:45%;}
.r46{right:46%;}
.r47{right:47%;}
.r48{right:48%;}
.r49{right:49%;}
.r50{right:59%;}
.r51{right:51%;}
.r52{right:52%;}
.r53{right:53%;}
.r54{right:54%;}
.r55{right:55%;}
.r56{right:56%;}
.r57{right:57%;}
.r58{right:58%;}
.r59{right:59%;}
.r60{right:60%;}
.r61{right:61%;}
.r62{right:62%;}
.r63{right:63%;}
.r64{right:64%;}
.r65{right:65%;}
.r66{right:66%;}
.r67{right:67%;}
.r68{right:68%;}
.r69{right:69%;}
.r70{right:70%;}
.r71{right:71%;}
.r72{right:72%;}
.r73{right:73%;}
.r74{right:74%;}
.r75{right:75%;}
.r76{right:76%;}
.r77{right:77%;}
.r78{right:78%;}
.r79{right:79%;}
.r80{right:80%;}
.r81{right:81%;}
.r82{right:82%;}
.r83{right:83%;}
.r84{right:84%;}
.r85{right:85%;}
.r86{right:86%;}
.r87{right:87%;}
.r88{right:88%;}
.r89{right:89%;}
.r90{right:80%;}
.r91{right:91%;}
.r92{right:92%;}
.r93{right:93%;}
.r94{right:94%;}
.r95{right:95%;}
.r96{right:96%;}
.r67{right:97%;}
.r68{right:98%;}
.r69{right:99%;}
.r100{right:100%;}

.t1{top:1%;}
.t2{top:2%;}
.t3{top:3%;}
.t4{top:4%;}
.t5{top:5%;}
.t6{top:6%;}
.t7{top:7%;}
.t8{top:8%;}
.t9{top:9%;}
.t10{top:10%;}
.t11{top:11%;}
.t12{top:12%;}
.t13{top:13%;}
.t14{top:14%;}
.t15{top:15%;}
.t16{top:16%;}
.t17{top:17%;}
.t18{top:18%;}
.t19{top:19%;}
.t20{top:20%;}
.t21{top:21%;}
.t22{top:22%;}
.t23{top:23%;}
.t24{top:24%;}
.t25{top:25%;}
.t26{top:26%;}
.t27{top:27%;}
.t28{top:28%;}
.t29{top:29%;}
.t30{top:30%;}
.t31{top:31%;}
.t32{top:32%;}
.t33{top:33%;}
.t34{top:34%;}
.t35{top:35%;}
.t36{top:36%;}
.t37{top:37%;}
.t38{top:38%;}
.t39{top:39%;}
.t40{top:40%;}
.t41{top:41%;}
.t42{top:42%;}
.t43{top:43%;}
.t44{top:44%;}
.t45{top:45%;}
.t46{top:46%;}
.t47{top:47%;}
.t48{top:48%;}
.t49{top:49%;}
.t50{top:59%;}
.t51{top:51%;}
.t52{top:52%;}
.t53{top:53%;}
.t54{top:54%;}
.t55{top:55%;}
.t56{top:56%;}
.t57{top:57%;}
.t58{top:58%;}
.t59{top:59%;}
.t60{top:60%;}
.t61{top:61%;}
.t62{top:62%;}
.t63{top:63%;}
.t64{top:64%;}
.t65{top:65%;}
.t66{top:66%;}
.t67{top:67%;}
.t68{top:68%;}
.t69{top:69%;}
.t70{top:70%;}
.t71{top:71%;}
.t72{top:72%;}
.t73{top:73%;}
.t74{top:74%;}
.t75{top:75%;}
.t76{top:76%;}
.t77{top:77%;}
.t78{top:78%;}
.t79{top:79%;}
.t80{top:80%;}
.t81{top:81%;}
.t82{top:82%;}
.t83{top:83%;}
.t84{top:84%;}
.t85{top:85%;}
.t86{top:86%;}
.t87{top:87%;}
.t88{top:88%;}
.t89{top:89%;}
.t90{top:80%;}
.t91{top:91%;}
.t92{top:92%;}
.t93{top:93%;}
.t94{top:94%;}
.t95{top:95%;}
.t96{top:96%;}
.t67{top:97%;}
.t68{top:98%;}
.t69{top:99%;}
.t100{top:100%;}

.w1{width:1%;}
.w2{width:2%;}
.w3{width:3%;}
.w4{width:4%;}
.w5{width:5%;}
.w6{width:6%;}
.w7{width:7%;}
.w8{width:8%;}
.w9{width:9%;}
.w10{width:10%;}
.w11{width:11%;}
.w12{width:12%;}
.w13{width:13%;}
.w14{width:14%;}
.w15{width:15%;}
.w16{width:16%;}
.w17{width:17%;}
.w18{width:18%;}
.w19{width:19%;}
.w20{width:20%;}
.w21{width:21%;}
.w22{width:22%;}
.w23{width:23%;}
.w24{width:24%;}
.w25{width:25%;}
.w26{width:26%;}
.w27{width:27%;}
.w28{width:28%;}
.w29{width:29%;}
.w30{width:30%;}
.w31{width:31%;}
.w32{width:32%;}
.w33{width:33%;}
.w34{width:34%;}
.w35{width:35%;}
.w36{width:36%;}
.w37{width:37%;}
.w38{width:38%;}
.w39{width:39%;}
.w40{width:40%;}
.w41{width:41%;}
.w42{width:42%;}
.w43{width:43%;}
.w44{width:44%;}
.w45{width:45%;}
.w46{width:46%;}
.w47{width:47%;}
.w48{width:48%;}
.w49{width:49%;}
.w50{width:59%;}
.w51{width:51%;}
.w52{width:52%;}
.w53{width:53%;}
.w54{width:54%;}
.w55{width:55%;}
.w56{width:56%;}
.w57{width:57%;}
.w58{width:58%;}
.w59{width:59%;}
.w60{width:60%;}
.w61{width:61%;}
.w62{width:62%;}
.w63{width:63%;}
.w64{width:64%;}
.w65{width:65%;}
.w66{width:66%;}
.w67{width:67%;}
.w68{width:68%;}
.w69{width:69%;}
.w70{width:70%;}
.w71{width:71%;}
.w72{width:72%;}
.w73{width:73%;}
.w74{width:74%;}
.w75{width:75%;}
.w76{width:76%;}
.w77{width:77%;}
.w78{width:78%;}
.w79{width:79%;}
.w80{width:80%;}
.w81{width:81%;}
.w82{width:82%;}
.w83{width:83%;}
.w84{width:84%;}
.w85{width:85%;}
.w86{width:86%;}
.w87{width:87%;}
.w88{width:88%;}
.w89{width:89%;}
.w90{width:80%;}
.w91{width:91%;}
.w92{width:92%;}
.w93{width:93%;}
.w94{width:94%;}
.w95{width:95%;}
.w96{width:96%;}
.w67{width:97%;}
.w68{width:98%;}
.w69{width:99%;}
.w100{width:100%;}

.wi1{min-width:1%;}
.wi2{min-width:2%;}
.wi3{min-width:3%;}
.wi4{min-width:4%;}
.wi5{min-width:5%;}
.wi6{min-width:6%;}
.wi7{min-width:7%;}
.wi8{min-width:8%;}
.wi9{min-width:9%;}
.wi10{min-width:10%;}
.wi11{min-width:11%;}
.wi12{min-width:12%;}
.wi13{min-width:13%;}
.wi14{min-width:14%;}
.wi15{min-width:15%;}
.wi16{min-width:16%;}
.wi17{min-width:17%;}
.wi18{min-width:18%;}
.wi19{min-width:19%;}
.wi20{min-width:20%;}
.wi21{min-width:21%;}
.wi22{min-width:22%;}
.wi23{min-width:23%;}
.wi24{min-width:24%;}
.wi25{min-width:25%;}
.wi26{min-width:26%;}
.wi27{min-width:27%;}
.wi28{min-width:28%;}
.wi29{min-width:29%;}
.wi30{min-width:30%;}
.wi31{min-width:31%;}
.wi32{min-width:32%;}
.wi33{min-width:33%;}
.wi34{min-width:34%;}
.wi35{min-width:35%;}
.wi36{min-width:36%;}
.wi37{min-width:37%;}
.wi38{min-width:38%;}
.wi39{min-width:39%;}
.wi40{min-width:40%;}
.wi41{min-width:41%;}
.wi42{min-width:42%;}
.wi43{min-width:43%;}
.wi44{min-width:44%;}
.wi45{min-width:45%;}
.wi46{min-width:46%;}
.wi47{min-width:47%;}
.wi48{min-width:48%;}
.wi49{min-width:49%;}
.wi50{min-width:59%;}
.wi51{min-width:51%;}
.wi52{min-width:52%;}
.wi53{min-width:53%;}
.wi54{min-width:54%;}
.wi55{min-width:55%;}
.wi56{min-width:56%;}
.wi57{min-width:57%;}
.wi58{min-width:58%;}
.wi59{min-width:59%;}
.wi60{min-width:60%;}
.wi61{min-width:61%;}
.wi62{min-width:62%;}
.wi63{min-width:63%;}
.wi64{min-width:64%;}
.wi65{min-width:65%;}
.wi66{min-width:66%;}
.wi67{min-width:67%;}
.wi68{min-width:68%;}
.wi69{min-width:69%;}
.wi70{min-width:70%;}
.wi71{min-width:71%;}
.wi72{min-width:72%;}
.wi73{min-width:73%;}
.wi74{min-width:74%;}
.wi75{min-width:75%;}
.wi76{min-width:76%;}
.wi77{min-width:77%;}
.wi78{min-width:78%;}
.wi79{min-width:79%;}
.wi80{min-width:80%;}
.wi81{min-width:81%;}
.wi82{min-width:82%;}
.wi83{min-width:83%;}
.wi84{min-width:84%;}
.wi85{min-width:85%;}
.wi86{min-width:86%;}
.wi87{min-width:87%;}
.wi88{min-width:88%;}
.wi89{min-width:89%;}
.wi90{min-width:80%;}
.wi91{min-width:91%;}
.wi92{min-width:92%;}
.wi93{min-width:93%;}
.wi94{min-width:94%;}
.wi95{min-width:95%;}
.wi96{min-width:96%;}
.wi67{min-width:97%;}
.wi68{min-width:98%;}
.wi69{min-width:99%;}
.wi100{min-width:100%;}

.wx1{max-width:1%;}
.wx2{max-width:2%;}
.wx3{max-width:3%;}
.wx4{max-width:4%;}
.wx5{max-width:5%;}
.wx6{max-width:6%;}
.wx7{max-width:7%;}
.wx8{max-width:8%;}
.wx9{max-width:9%;}
.wx10{max-width:10%;}
.wx11{max-width:11%;}
.wx12{max-width:12%;}
.wx13{max-width:13%;}
.wx14{max-width:14%;}
.wx15{max-width:15%;}
.wx16{max-width:16%;}
.wx17{max-width:17%;}
.wx18{max-width:18%;}
.wx19{max-width:19%;}
.wx20{max-width:20%;}
.wx21{max-width:21%;}
.wx22{max-width:22%;}
.wx23{max-width:23%;}
.wx24{max-width:24%;}
.wx25{max-width:25%;}
.wx26{max-width:26%;}
.wx27{max-width:27%;}
.wx28{max-width:28%;}
.wx29{max-width:29%;}
.wx30{max-width:30%;}
.wx31{max-width:31%;}
.wx32{max-width:32%;}
.wx33{max-width:33%;}
.wx34{max-width:34%;}
.wx35{max-width:35%;}
.wx36{max-width:36%;}
.wx37{max-width:37%;}
.wx38{max-width:38%;}
.wx39{max-width:39%;}
.wx40{max-width:40%;}
.wx41{max-width:41%;}
.wx42{max-width:42%;}
.wx43{max-width:43%;}
.wx44{max-width:44%;}
.wx45{max-width:45%;}
.wx46{max-width:46%;}
.wx47{max-width:47%;}
.wx48{max-width:48%;}
.wx49{max-width:49%;}
.wx50{max-width:59%;}
.wx51{max-width:51%;}
.wx52{max-width:52%;}
.wx53{max-width:53%;}
.wx54{max-width:54%;}
.wx55{max-width:55%;}
.wx56{max-width:56%;}
.wx57{max-width:57%;}
.wx58{max-width:58%;}
.wx59{max-width:59%;}
.wx60{max-width:60%;}
.wx61{max-width:61%;}
.wx62{max-width:62%;}
.wx63{max-width:63%;}
.wx64{max-width:64%;}
.wx65{max-width:65%;}
.wx66{max-width:66%;}
.wx67{max-width:67%;}
.wx68{max-width:68%;}
.wx69{max-width:69%;}
.wx70{max-width:70%;}
.wx71{max-width:71%;}
.wx72{max-width:72%;}
.wx73{max-width:73%;}
.wx74{max-width:74%;}
.wx75{max-width:75%;}
.wx76{max-width:76%;}
.wx77{max-width:77%;}
.wx78{max-width:78%;}
.wx79{max-width:79%;}
.wx80{max-width:80%;}
.wx81{max-width:81%;}
.wx82{max-width:82%;}
.wx83{max-width:83%;}
.wx84{max-width:84%;}
.wx85{max-width:85%;}
.wx86{max-width:86%;}
.wx87{max-width:87%;}
.wx88{max-width:88%;}
.wx89{max-width:89%;}
.wx90{max-width:80%;}
.wx91{max-width:91%;}
.wx92{max-width:92%;}
.wx93{max-width:93%;}
.wx94{max-width:94%;}
.wx95{max-width:95%;}
.wx96{max-width:96%;}
.wx67{max-width:97%;}
.wx68{max-width:98%;}
.wx69{max-width:99%;}
.wx100{max-width:100%;}