

label{
 background-color:#333333;
 border-color:#F3F1E4;
 border-radius:50px;
 border-style:solid;
 border-width:1px;
 color:#777777;
 display:block;
 height:5vh;
 line-height:5vh;
 position:fixed;
 right:15px;
 text-align:center;
 font-size:4vh;
 top:15px;
 transition:background-color 0.5s,color 0.5s;
 width:5vh;
}
label:hover{
 background-color:#F3F1E4;
 border-color:#333333;
 color:#333333;
}
label + aside{
 background-color:#333333;
 border-color:#333333;
 border-width:1px;
 border-style:solid;
 height:100%;
 margin-top:0px;
 margin-bottom:0px;
 left:-55%;
 position:fixed;
 transition:left 1s;
 width:50vw;
}
label:hover + aside{
 left:0px;
 transition:left 1s;
}
label + aside:hover{
 left:0px;
 transition:left 0.5s;
}


o{
 display:none;
}
option:hover{
 background-color:#F3F1E4;
 color:#777777;
}

t{
  display:block;
  background-color:rgba(0,0,0,0.1);
}